<div class="row comment offset-1 col-10">
    <div class="col-xs-12 col-sm-2">
        <div class=" text-center">
            <b class="row">
                <a class="col-12" href="{{ path('app_show_user',{'user_id':app.user.id}) }}">
                    {{ app.user.username }}
                    <div class="col-12">
                        {% if app.user.image is null %}
                            <img class="user-image" src="{{ asset('image/avatar.png') }}"
                                 alt="photo d'utilisateur">
                        {% else %}
                            <img class="user-image" src="{{ app.user.image.url }}"
                                 alt="photo d'utilisateur">
                        {% endif %}
                    </div>
                </a>
            </b>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        {{ form_start(formComment) }}
        {{ form_widget(formComment) }}
        {{ form_end(formComment) }}

    </div>
</div>
<hr>
