{% extends 'base.html.twig' %}
{% block title %}
    Listes des commentaires à valider
{% endblock %}

{% block body %}
    <h2>Listes des commentaires à valider :</h2>
    <div class="comments">
        {% for comment in comments %}
            {% if comment.isvalidate == false %}
                <div class="row comment">
                    <div class="col-xs-12 col-sm-2">
                        <div class=" text-center">
                            <b class="row">
                                <a class="col-12" href="{{ path('app_show_user',{'user_id':comment.user.id}) }}">
                                    {{ comment.user.username }}
                                    <div class="col-12">
                                        {% if comment.user.image is null %}
                                            <img class="user-image" src="{{ asset('image/avatar.png') }}"
                                                 alt="photo d'utilisateur">
                                        {% else %}
                                            <img class="user-image" src="{{ comment.user.image.url }}"
                                                 alt="photo d'utilisateur">
                                        {% endif %}
                                    </div>
                                </a>
                            </b>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="row">
                            <p class="col-12">
                                écrit le <strong>{{ comment.creationDate | date("d/m/Y H:i") }}</strong>
                                Sur l'article: <strong>{{ comment.article.title }} </strong>
                            </p>
                        </div>
                        <hr>
                        <div class="comment-content">
                            {{ comment.content }}
                        </div>
                        <div class="metadata">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-danger"
                                            {#                                   href="{{ path('app_comment.delete',{'id':comment.id}) }}" #}
                                    >
                                        Supprimer
                                    </a>
                                </div>
                                <div class=" offset-8 col-2">
                                    <a class="btn btn-success"
                                       href="{{ path('app_comment.validate',{'id':comment.id}) }}">
                                        Valider
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


