{% extends 'base.html.twig' %}
{% block title %}
    Liste des articles
{% endblock %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <div class="row">
            <a class="btn btn-primary col-4" href="{{ path('app_article.create') }}">Créer un article</a>
        </div>
        <div class="row">
            <a class="btn btn-secondary col-4" href="{{ path('app_article_category.list') }}">Liste des catégories</a>
        </div>
    {% endif %}
    <h3>Les derniers articles publiés :</h3>

    {% for article in articles %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="{{ path('app_article.show',
                    {'id': article.id,
                        'article_category_slug' : article.category.slug,
                        'article_slug' : article.slug,
                    }
                ) }}" class="card-link-title">
                    <h3>{{ article.title }}</h3>
                </a>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_article.update',{'article_slug' : article.slug, 'id' : article.id }) }}"
                       class="btn btn-info">Modifier l'article</a>
                {% endif %}
            </div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">{{ article.category.name }}</h6>
            </div>
            <a href="{{ path('app_article.show',
                {'id': article.id,
                    'article_category_slug' : article.category.slug,
                    'article_slug' : article.slug,
                }
            ) }}" class="card-link-title ">
                <div class="carousel-box">
                    {% if article.images|length > 0 %}
                        <img class="image-list" src="{{ asset(article.images[0].url) }}"
                             alt="{{ asset(article.images[0].alt) }}">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%"
                             height="400"
                             aria-label="Placeholder: Image cap" focusable="false" role="img"
                             preserveAspectRatio="xMidYMid slice"
                             viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                            <rect width="100%" height="100%" fill="#dee2e6"></rect>
                            <text x="50%" y="50%" fill="#1a1a1a" dy=".3em">Cet article n'a pas d'image</text>
                        </svg>
                    {% endif %}
                </div>
            </a>
            <div class="card-body">
                <p class="card-text">{{ article.content| raw }}</p>
            </div>
            <div class="card-body">
                <a href="{{ path('app_article.show',
                    {'id': article.id,
                        'article_category_slug' : article.category.slug,
                        'article_slug' : article.slug,
                    }
                ) }}" class="card-link">Voir l'article</a>
            </div>
            {% if article.lastUpdateDate is not null %}
                <div class="card-footer text-muted">
                    dernière mise à jour: {{ article.lastUpdateDate|date("d/m/YY H:i") }}
                </div>
            {% else %}
                <div class="card-footer text-muted">
                    création: {{ article.creationDate|date("d/m/yy H:i") }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}


