{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="card mb-3 fade-in">
        <h3 class="card-header">{{ article.title }}</h3>
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_article.update',{'article_slug' : article.slug, 'id' : article.id }) }}"
               class="btn btn-info">Modifier l'article</a>
            <a type="button"
               class="btn btn-danger" data-toggle="modal"
               data-target="#deleteModal-{{ article.id }}">Supprimer l'article</a>
            {% include 'modal/article/deleteArticleConf.html.twig' %}
        {% endif %}
        <div class="card-body">
            <h6 class="card-subtitle text-muted">{{ article.category.name }}</h6>
        </div>
        {% if article.images|length > 0 %}
            <div id="carouselImageIndicators" class="carousel slide" data-ride="carousel">
                {# generate a div who have style background with an image #}
                <div class="carousel-inner carousel-box" style="background: #1a1a1a">
                    {% for image in article.images %}
                        <div class="carousel-item
                    {% if loop.first %}
                                active
                    {% endif %}">
                            {#                        <div style="background-image: url('{{ asset(image.url) }}')"></div> #}
                            <img class="d-block carousel-image" src="{{ asset(image.url) }}"
                                 alt="{{ image.alt }}">
                        </div>
                    {% endfor %}
                </div>
                {% if article.images|length > 1 %}
                    <a class="carousel-control-prev" href="#carouselImageIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédente</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselImageIndicators" role="button" data-slide="next">
                        <span class="sr-only">Suivante</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
                 aria-label="Placeholder: Image cap" focusable="false" role="img"
                 preserveAspectRatio="xMidYMid slice"
                 viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#dee2e6"></rect>
                <text x="50%" y="50%" fill="#1a1a1a" dy=".3em">Cet article n'a pas d'image</text>
            </svg>
        {% endif %}
        <div class="card-body">
            <p class="card-text">{{ article.content | raw }}</p>
        </div>
        {% if article.lastUpdateDate is not null %}
            <div class="card-footer text-muted">
                dernière mise à jour: {{ article.lastUpdateDate|date("d/m/Y H:i") }}
            </div>
        {% else %}
            <div class="card-footer text-muted">
                création: {{ article.creationDate|date("d/m/Y H:i") }}
            </div>
        {% endif %}
    </div>
    {% if is_granted('COMMENT_CREATE') %}
        {% include 'comment/create.html.twig' %}
    {% else %}
        <h4 class="text-center">Vous devez être connecté pour poster un commentaire</h4>
    {% endif %}
    {% if article.comments|length > 0 and article.haveValidateComment == true %}
        <h4 class="text-center">Liste des commentaires: </h4>
        {% include 'comment/list_in_article.html.twig' %}
    {% else %}
        <h4 class="text-center">Aucun commentaire pour cet article</h4>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $('.carousel').carousel({
            interval: 5000
        });
    </script>
{% endblock %}


