{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}
    <div class="container">
        <a class="offset-2 col-8 text-center oi oi-account-login icon-form"></a>

        <h1 class="update_user">
            {% if editMode %}
                Modifier un utilisateur
            {% else %}
                Créer un nouvel utilisateur
            {% endif %}
        </h1>
        <div class="offset-2 col-8 form_login">

            {{ form_start(form
                , {'attr': {'id' : 'formUser'}}) }}

            {{ form_row(form.username, {'label':"Nom d'utilisateur",'attr':{'placeholder':"Nom d'utilisateur"}}) }}
            {{ form_row(form.email, {'label':"Email d'utilisateur",'attr':{'placeholder':"Email d'utilisateur"}}) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.roles, {'label':"Role de l'utilisateur"}) }}
            {% endif %}

            <button id="submitFormsButton"
                    class="btn btn-outline-success offset-xs-3 col-xs-6 offset-sm-4 col-sm-4 text-center">Créer/modifier
                l'utilisateur
            </button>
            <a href="{{ path('app_change_pass_user', {'user' : user.id }) }}" class="btn btn-outline-info offset-xs-3 col-xs-6 offset-sm-4 col-sm-4 text-center">Modifier le mot de passe
            </a>

            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}
