{% extends 'base.html.twig' %}

{% block title %}
    Supprimer l'utilisateur {{ user.username }}
{% endblock %}

{% block body %}
    <div class="offset-1 col-10 text-center">
        <h4>Etes-vous sur de vouloir supprimer l'utilisateur : {{ user.username }} ?</h4>
        {{ form_start(form) }}
        {{ form_row(form.yes) }}
        {{ form_row(form.no) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

